# OS files
.DS_Store

# Build and Release Folders
build/

# Test and Report Folders
report/
test/TestMain.hx
test/TestSuite.hx

# Other files and folders


# Project files
.idea/
*.iml
*.iws

# Project files